<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.MemberRepository">

	<select id="getAllMember" resultType="MemberDto">
		/* com.example.demo.repository.MemberRepository.getAllMember (tb_member 조회) */
		SELECT
			mbr_no
			, cust_no
			, mbr_type_cd
			, mbr_nm
			, eng_mbr_nm
			, job_pos_cd
			, phone_no
			, phone_no2
			, email
			, login_yn
			, cust_charge_yn
			, user_id
			, user_pwd
			, use_yn
			, reg_dt
			, reg_mbr_no
			, upd_dt
			, upd_mbr_no
			, login_fail_cnt
			, final_login_dt
			, email_yn
			, activity_yn
			, vend_no
		FROM tb_member
	</select>

</mapper>
